{{define "content"}}

<section class="container">
    <div class="row">
        <div class="col-xs-8">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h1 class="box-title">{{ .Package.Url }}</h1>
                    <span><i class="fa fa-download"></i>&nbsp;go get {{ .Package.Url }}</span>
                </div>
                <h2> {{ .Package.Description }} </h2>
                <div class="box-body">
                    {{range .Package.Tags }}
                    <h4>{{ .Name }}</h4>
                    <a href=".tar"> {{ .Tar}}</a>
                    <a href=".zip"> {{ .Zip}}</a>
                    {{end}}
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-xs-4">
            <div class="box box-solid">
                <div class="box-body">
                    <a href="{{ .Package.Url }}">{{ .Package.Url }}</a>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

{{end}}