{{define "content"}}

<section class="container">
    <div class="row">
        <div class="col-xs-12">
            {{range .Packages}}
            <div class="box box-solid">
                <a href="/p/{{.Name}}">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{.Name}}</h3>

                        <div class="box-tools pull-right">
                            <a class="btn btn-box-tool fav" data-widget="collapse"><i
                                    class="fa fa-heart-o"></i>
                            </a>
                        </div>
                    </div>
                </a>

                <!-- /.box-header -->

                <div class="box-body">
                    {{.Description}}
                </div>
                <!-- /.box-body -->
            </div>
            {{else}}
                Sorry, we found nothing :(
            {{end}}
        </div>
    </div>
</section>

{{end}}