{{define "content"}}

<section class="container">
    <div class="row">
        <div class="col-xs-8">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Progress Bars Different Sizes</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    asdfsad
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-xs-4">
            <div class="box box-solid">
                <div class="box-body">
                    asdfsad
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

{{end}}